html, body {
    height: 100%;
}

.cd-fixed-background {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.cd-fixed-background.img-1 {
    background-image: url('contact-specific-background1.jpg');
}

.cd-fixed-background.img-2 {
    background-image: url('contact-specific-background1.jpg');
}

.cd-fixed-background.img-3 {
    background-image: url('contact-specific-background.jpg');
}

.cd-content {
    position: relative;
    top: 15%;
    z-index: 2;
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 2rem;
}



.form-container {
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 290px; /* Largeur fixe de la boîte de formulaire */
     padding: 20px; /* Espacement interne */
     background-color: rgba(0, 0, 0, 0.7); /* Fond sombre */
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre */
     margin-bottom: 5px; /* Marge en bas */
     margin-right: 150px;
}

.form-container h2 {
      
      color: white;
      margin-bottom: 10px;
      margin-top: 0px;
      font-size: 24px; /* Taille de police du titre */
      text-align: center;
}

.form-container input[type="text"],
.form-container textarea {
            width: calc(100% - 20px); /* Largeur des champs de formulaire */
            padding: 10px;
            margin: 5px 0;
            border: none;
            border-radius: 5px;
            background-color: #ffffff; /* Fond blanc pour les entrées */
            resize: none;
            font-size: 16px; /* Taille de police des champs */
        }

        .form-container input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            background-color: #2b7cbb; /* Bouton de soumission bleu clair */
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 16px; /* Taille de police du bouton */
        }

        .form-container input[type="submit"]:hover {
            background-color: #1e5f8b; /* Bleu plus foncé au survol */
        }